@tailwind base;
@tailwind components;
@tailwind utilities;

.row-even {
  background-color: #f9f9f9;
  /* Warna abu-abu */
}

.row-odd {
  background-color: #ffffff;
  /* Warna putih */
}

.react-data-table {
  white-space: normal !important;
  /* Pastikan wrapping diizinkan */
}

.react-data-table .rdt_TableCell {
  overflow: visible !important;
  /* Pastikan tidak ada overflow tersembunyi */
}